RewriteEngine On

# ignore this aden, this is server side stuff idk if it will work tho rn
RewriteCond %{THE_REQUEST} \s/+(.+)\.html[\s?]
RewriteRule ^ %1 [R=301,L]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^(.+)$ $1.html [L]